<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Pedi-curate!</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link
      rel="stylesheet"
      href="/in_class/week8/Projects/Shoes4U/public/assets/css/style.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-center p-2">
        <!-- Pedicurate heading -->
        <h1>
          <span role="img" aria-label="shoe">👟</span>
          <a href="/">      <img
  src="https://see.fontimg.com/api/renderfont4/pZeK/eyJyIjoiZnMiLCJoIjo3MSwidyI6MTAwMCwiZnMiOjcxLCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/cGVkaS1jdXJhdGU/jennas-feet.png"
  class="img-fluid rounded"
  alt="Townhouses and Skyscrapers"
/></a>
        </h1>

        <!-- Image -->
        <div
          class="bg-image"
          style="
      background-image: url('https://www.nikeshoebot.com/wp-content/uploads/2019/07/Pile-of-Jordan-sneakers.jpg');
      height: 500px;
    "
        >

          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <!-- Search button -->
                <div class="input-group">
                  <input
                    type="search"
                    class="form-control rounded"
                    placeholder="Search"
                    aria-label="Search"
                    aria-describedby="search-addon"
                  />
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                  >search</button>
                </div>
                <!-- login links -->
                <nav>
                  <div class="container overflow-hidden">
                    <div class="col">
                      {{#if logged_in}}
                        <a href="/profile">profile</a>
                        <button class="no-button" id="logout">logout</button>
                      {{else}}
                        <a
                          class="btn btn-outline-light btn-lg"
                          href="/login"
                        >login</a>
                      {{/if}}
                    </div>
                  </div>
                  <!-- Signup links -->
                  <div class="container overflow-hidden">
                    <div class="col">
                      {{#if signed_up}}
                        <a href="/profile">profile</a>
                        <button class="no-button" id="sign">sign up</button>
                      {{else}}
                        <a
                          class="btn btn-outline-light btn-lg"
                          href="/sign"
                        >sign up</a>
                      {{/if}}
                    </div>
                  </div>
                  <!-- Closet links -->
                  <div class="container overflow-hidden">
                    <div class="col">
                      <a
                        class="btn btn-outline-light btn-lg"
                        href="#!"
                        role="button"
                      >Closet</a>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </header>
      <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>
        <footer class="bg-light text-center text-lg-start">
          <!-- Grid container -->
          <div class="container p-4">
            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Footer text</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste
                  atque ea quis molestias. Fugiat pariatur maxime quis culpa
                  corporis vitae repudiandae aliquam voluptatem veniam, est
                  atque cumque eum delectus sint!
                </p>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </div>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/assets/js/index.js"></script>
    {{/if}}
    {{#if signed_up}}
      <script src="/assets/js/index.js"></script>
    {{/if}}
  </body>
</footer>
        <!-- Copyright -->
          <div
            class="text-center p-3"
            style="background-color: rgba(0, 0, 0, 0.2);"
          >
            © 2022 Copyright:
            <a
              class="text-dark"
              href="https://c.tenor.com/fS7ebyoxrroAAAAC/tmnt-high-five.gif"
            >Ninja turtles</a>
          </div>
      </footer>
</html>