


<div id="shoeContainer">
    <div class="firstColumn">

    </div>
    <div class="secondColumn">
        {{#each shoes as |shoe|}}
        <div class="text-center">
            <h2>Name: {{name}}</h2>
            <p>Brand: {{{brand}}}</p>
            <p>Description: {{description}}</p>
            <p>
            <span for="img" aria-label="money">💲</span>
            <span class="dollar-amount">{{amount}}</span>
            </p>
            <button type="button" class="add">Add</button>
        </div>
        {{/each}}
    </div> 
</div>   
            

